/* START CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
/*ol, ul {
  list-style: none;
}*/
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* END CSS reset */

/* START custom CSS */
/* Element-based styling */
* {
  font-family: sans-serif; 
	/*border: 1px solid rgba(0, 0, 0, 0.3);*/ /* See box model */
  box-sizing: border-box; /* Change box model to be inclusive of borders +
  padding */
}

/* Make <b></b> bold again */
b {
  font-weight: bold;
}

/* Make <i></i> italicised again */
i {
  font-style: italic;
}

h1 {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

#current_assn {
  font-size: 1.25rem;
  text-align: center;
}

h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

p {
  margin: 0.5rem 0;
}

.content {
  margin: 1.5rem auto 2rem auto;
  line-height: 1.5;
}

ol, ul {
  margin: 0.25rem 0 0.25rem 3rem;
}

ol li, ul li {
  margin: 0.5rem 0;
}

#input {
  text-align: center;
  margin-top: 3rem; 
}

/* Device specific settings */
/* DESKTOP */
@media all and (min-width: 480px) {
  .content {
    max-width: 75%;
  }
}

/* MOBILE */
@media not all and (min-width: 480px) {
  .content {
    max-width: 90%;
  }
}
/* END custom CSS */
